[submodule "wp"]
	path = wp
	url = git@github.com:WordPress/WordPress.git
[submodule "content/mu-plugins/wordpress-importer"]
	path = content/mu-plugins/wordpress-importer
	url = git@github.com:wp-plugins/wordpress-importer.git
[submodule "content/plugins/site-secrets"]
	path = content/plugins/site-secrets
	url = git@github.com:danielbachhuber/Site-Secrets.git
[submodule "content/themes/media-library"]
	path = content/themes/media-library
	url = git@github.com:danielbachhuber/media-library.git
	branch = master
[submodule "content/themes/new-p2"]
	path = content/themes/new-p2
	url = git@github.com:danielbachhuber/new-p2.git
[submodule "content/mu-plugins/easy-mode-auto-deploy"]
	path = content/mu-plugins/easy-mode-auto-deploy
	url = git@github.com:danielbachhuber/Easy-Mode-Auto-Deploy.git
[submodule "content/mu-plugins/wordpress-memcached-backend"]
	path = content/mu-plugins/wordpress-memcached-backend
	url = git@github.com:danielbachhuber/wordpress-memcached-backend.git
[submodule "content/plugins/akismet"]
	path = content/plugins/akismet
	url = git@github.com:wp-plugins/akismet.git
[submodule "content/mu-plugins/wordpress-mu-domain-mapping"]
	path = content/mu-plugins/wordpress-mu-domain-mapping
	url = git@github.com:wp-plugins/wordpress-mu-domain-mapping.git
